.root {
  position: relative;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  padding-left: 42px; /* Увеличьте левый отступ, чтобы учесть ширину иконки */
  width: 400px;
  border-radius: 10px;
  font-size: 16px;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 14px; /* Расположение иконки слева внутри инпута */
  top: 50%; /* Центрирование вертикально */
  transform: translateY(-50%); /* Центрирование вертикально */
}

.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 50%; /* Центрирование вертикально */
  transform: translateY(-50%); /* Центрирование вертикально */
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
